/* filepath: c:\Users\Imgen\Documents\GitHub\Jobchaser3\src\components\ListItem.module.css */
.accordion {
  border: 1px solid #ddd;
  border-radius: 4px;
}

.accordionHeader {
  background-color: #ffffff;
  padding: 3px;
  cursor: pointer;
  font-weight: bold;
}

.accordionButton {
  background: none;
  border: none;
  font-size: 16px;
  text-align: left;
  width: 100%;
  cursor: pointer;
}

.accordionCollapse {
  padding: 3px;
  background-color: #fff;
}

.accordionCollapse {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.accordionCollapse.open {
  max-height: 500px;
}