/* filepath: c:\Users\Imgen\Documents\GitHub\Jobchaser3\src\components\list.module.css */
.accordion {
  border: 1px solid #ddd;
  border-radius: 4px;
}

.accordionItem {
  margin-bottom: 10px;
}

.loading {
  font-size: 16px;
  color: #888;
}

.error {
  color: red;
  font-weight: bold;
}

.accordionHeader {
  background-color: #f8f9fa;
  padding: 5px;
  cursor: pointer;
  font-weight: bold;
}